# Copy to .env and fill in the values before running docker-compose
DD_API_KEY=datadog_api_key_here
DD_SITE=us5.datadoghq.com
DD_ENV=poc
DD_SERVICE=edge-dogstatsd-poc
DD_HOSTNAME=edge-dogstatsd-poc-hostname
DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
DD_DOGSTATSD_PORT=8125
EMIT_INTERVAL=5s
EMIT_ITERATIONS=120
EMIT_NAMESPACE=edge_nodes.
EMIT_TAGS=service:edge-scanner,product:fastscan,priority:medium,region:us-east-1
